body{
background-color: rgb(255, 255, 255) ;
font:normal 8pt arial;
text-align: center;
}

.formulas{
    background-color: rgb(255, 255, 255);
    font:normal 12pt arial;
    border-radius: 50px;
    padding: 15px;
    width: 200px;
    text-align: center;
    margin: auto;
    box-shadow: 2px 1px 30px rgba(0, 0, 0, 0.301);
    
}

footer{
font-style: italic;
}

.pformulas{
    font:normal 15pt arial;
}

p#titulo{
    font:bold 30pt arial;
}
p#bhaskara{
    font:normal 20pt arial;
}
p#areadecirculo{
    font:normal 20pt arial;
}
